.iconify-icon-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.iconify-icon-list > li {
  list-style-type: none;
  display: inline-block;
  width: 200px;
  margin: 20px 0 0;
}

.iconify-icon-list > li > i {
  font-size: 20px;
}

.iconify-icon-list > li > span {
  font-size: 11px;
  display: block;
  text-align: center;
}

.iconify-icon-list input {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0 4px;
  box-sizing: border-box;
}

.iconify-icon-list input.hex {
  font-size: 9px;
  line-height: 9px;
  margin-top: -1px;
}

.iconify-use {
  width: 100%;
  box-sizing: border-box;
}
